@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@import "flowbite/src/themes/minimal";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html,
body {
  height: 100%;
  background-color: #0a0a0a;
  /* Deep dark background like HBO Max */
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@keyframes ken-burns {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.animate-ken-burns {
  animation: ken-burns 20s ease-in-out infinite alternate;
}